*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: auto;
    height: 800vh;
}

.webgl
{
    position: fixed;
    background: linear-gradient(180deg, #23e6fd, #06537b, #00143d);
    top: 0;
    left: 0;
    outline: none;
}
